@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body{
    padding: 0;
    border: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.row::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 16px;
}

.navbar {
    width: 100%;
    height: auto;
    padding: 8px;
    box-shadow: 0px 0px 8px;
    background-color: #FAFAFA;
    position: fixed;
}

.logo {
    float: left;
    width: 32px;
    height: 32px;
}

.navlink{float: right;margin: 0;}
@media only screen and (min-width: 768px){
    .navbar {
        width: 100%;
        height: auto;
        padding: 16px;
        box-shadow: 0px 0px 8px;
        background-color: #FAFAFA;
        position: fixed;
    }
    .logo {
        width: 64px;
        height: 64px;
    }
    .navlink{float: right;margin: 16px;}
}

.link{
    list-style-type: none;
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
}

.link a{text-decoration: none;}

.text-center {text-align: center;}

h1, h2, h3, h4, h5, h6, p, span, button, li, a, i{font-family: 'Open Sans', sans-serif;}

.fas {color: #0091EA;font-size: 32px;}
a {color: #0091EA;}

.title {
    border-bottom: 2px solid #0091EA;
    border-top: 2px solid #0091EA;
    line-height: 150%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 8px;
    font-size: x-large;
}

#footer {
    background-color: #212121;
    padding: 12px;
}

#footer div{
    padding: 16px;
}

.footer-text{
    color: #E0E0E0;
    transition: 600ms;
}

.footer-text:hover{
    text-shadow: 1px 1px 1px #424242;
}